/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.README.md
.data.txt
.vendor.zip
/storage
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
